@import "tailwindcss";

@theme {
  --color-dark: #050505;
  --color-primary: #a855f7;
  --color-secondary: #3b82f6;
}


@layer base {
  body {
    @apply bg-dark text-white;
    background-color: #050505;
  }
}