---
import Layout from '../layouts/layout.astro';

import Header from '../components/Header.astro'

import Hero from '../components/Hero.astro';

import Services from '../components/Services.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro';
---

<Layout title="Virtualis | Módulos VR a medida">
	<main>
		<Header/>
		<Hero/>
		
		<Services/>
		<Contact/>
		<Footer/>
	</main>
</Layout>